.content {
  background-color: #fff;
  position: relative;
  z-index: 0;
  transition: all 0.15s ease-out 0s;
  padding-top: 47px;
  padding-bottom: 80px;

  @media(max-width: $screen-md){
    padding-top: 0;
  }
  @media(max-width: $screen-sm){
    padding-bottom: 40px;
  }

  &__container {
    @extend .container;
  }
}
