
.logo {
  display: inline-block;
  vertical-align: top;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  width: 180px;
  height: 56px;
  background-image: url("../img/logo_white.svg");

  @media(max-width: $screen-md){
    width: 80px;
    height: 25px;
  }

  &:hover, &:focus {
    opacity: 1;
  }

  @media only screen and (-webkit-min-device-pixel-ratio: 1.5), not all, not all, not all {

  }
}

.icon {
  display: inline-block;
  vertical-align: top;


}