
.plus-item {
  @include make-row;
  margin-bottom: 40px;
  @media(max-width: $screen-sm){
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 12px;
  }

  &__block {
    @include make-xs-column(8);
    @include make-sm-column(8);
    @include make-md-column(6);
    text-align: center;

    &:hover {
      z-index: 1;
    }

    @media(max-width: $screen-xs){
      @include make-xs-column(12);
      padding: 0 !important;
    }
    @media(max-width: 500px){

    }
  }

  &__item {
    display: block;
    height: 240px;
    position: relative;
    padding: 16px 40px 10px 40px;
    color: #000;

    @media(max-width: $screen-sm){
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 15px;
      padding-right: 15px;
    }
    @media(max-width: 500px){
      height: 176px;
    }

    &:hover {
      box-shadow: 0px 16px 16px 0px rgba(0, 0, 0, 0.08);
    }
  }

  &__img {
    width: 180px;
    height: 170px;
    margin: 0 auto;

    @media(max-width: 500px){
      height: 132px;
      width: 100%;
      background-repeat: no-repeat !important;
      background-position: center top !important;
      background-size: contain !important;
    }

    &--one {
      background-image: url("../img/direction-01.jpg");

      .plus-item__item:hover & {
        background-image: url("../img/direction-01-active.jpg");
      }
    }

    &--two {
      background-image: url("../img/direction-02.jpg");

      .plus-item__item:hover & {
        background-image: url("../img/direction-02-active.jpg");
      }
    }

    &--three {
      background-image: url("../img/direction-03.jpg");

      .plus-item__item:hover & {
        background-image: url("../img/direction-03-active.jpg");
      }
    }

    &--four {
      background-image: url("../img/direction-04.jpg");

      .plus-item__item:hover & {
        background-image: url("../img/direction-04-active.jpg");
      }
    }

    &--five {
      background-image: url("../img/direction-05.jpg");

      .plus-item__item:hover & {
        background-image: url("../img/direction-05-active.jpg");
      }
    }

    &--six {
      background-image: url("../img/direction-06.jpg");

      .plus-item__item:hover & {
        background-image: url("../img/direction-06-active.jpg");
      }
    }

    &--seven {
      background-image: url("../img/direction-07.jpg");

      .plus-item__item:hover & {
        background-image: url("../img/direction-07-active.jpg");
      }
    }

    &--eight {
      background-image: url("../img/direction-08.jpg");

      .plus-item__item:hover & {
        background-image: url("../img/direction-08-active.jpg");
      }
    }
  }

  &__description {
    font-size: 14px;
    letter-spacing: 0.4px;

    @media(max-width: 500px){
      margin-top: -8px;
      font-size: 11px;
      letter-spacing: -0.2px;
    }

    .plus-item__item:hover & {
      color: #387427;
    }
  }
}
