
.sidr {
  button {
    display: none;
  }

  .sidr-class-dropdown__btn {
    padding: 0px 15px;
  }
}

.slick-slider {
  .slick-slide {
    outline: none;
  }

  .slick-arrow {
    @media (max-width: $screen-xs) {

    }

    &:after, &:before {

    }

    &.slick-prev {


      @media (max-width: $screen-md) {

      }
    }

    &.slick-next {


      @media (max-width: $screen-md) {

      }
    }
  }
}

.main-slider {
  height: 400px;
  overflow: hidden;
  margin-bottom: 40px;
  position: relative;

  @media(max-width: $screen-sm){
    height: 276px;
    margin-bottom: 4px;
  }

  //&__wrapper {
  //  &:before {
  //    content: '';
  //    display: block;
  //    margin-top: 56.25%;
  //  }
  //}

  .slick-list {


    @media(max-width: $screen-md){

    }
  }

  .slick-slide {
    transition: none !important;

    @media(max-width: $screen-md){

    }

    &.slick-active {
      //animation: Slick-FastSwipeIn 1s both;

      .promo-main {
        &__img {
          animation: fadeIn 2s;
          //animation: fadein 1s;
        }

        &__description {
          animation: fadeInUp 0.5s both 0.05s;
        }

        &__content {
          &:before {
            animation: fadeInUp 0.5s both 0.05s;
            z-index: 0;
          }
        }
      }
    }

    .promo-main {
      &__img {

      }
    }
  }

  &--index {
    margin-top: -47px;

    @media(max-width: $screen-md){
      margin-top: 0;
    }
  }
}

/* ==== Slider Image Transition === */
@keyframes Slick-FastSwipeIn{
  0%{transform:rotate3d(0,1,0,150deg) scale(0)  perspective(400px);}
  100%{transform:rotate3d(0,1,0,0deg) scale(1) perspective(400px);}
}
@-webkit-keyframes ProgressDots{from{width:0px;}to{width:100%;}}
@keyframes ProgressDots{from{width:0px;}to{width:100%;}}
@keyframes fadein {
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}
@-moz-keyframes fadein { /* Firefox */
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}
@-o-keyframes fadein { /* Opera */
  from {
    opacity:0;
  }
  to {
    opacity: 1;
  }
}

.slider-article {
  margin-bottom: 60px;

  @media(max-width: $screen-sm){

  }

  &__wrapper {
    overflow: hidden;
  }
  
  &__item {
    vertical-align: top;
    position: relative;
    padding-bottom: 20px;


    img {
      height: 324px;

      @media(max-width: $screen-sm){
        height: 172px;
      }
    }

    p {
      color: #4A4A4A;
      font-size: 14px;
    }
  }

  &__text {
    position: absolute;
    top: 100%;
    left: 0px;
    width: 100%;
    padding: 0px 20px;

    @media(max-width: $screen-sm){
      padding: 0;
    }
  }

  .slick-slide {
    padding-left: 10px;
    padding-right: 10px;
  }

  .slick-track {
    //margin-left: -10px;
    //margin-right: -10px;
  }

  .slick-list {
    overflow: visible;

  }
}
