
.sidr {
  button {
    display: none;
  }

  .sidr-class-dropdown__btn {
    padding: 0px 15px;
  }
}

.slick-slider {
  .slick-slide {
    outline: none;
  }

  .slick-arrow {
    @media (max-width: $screen-xs) {

    }

    &:after, &:before {

    }

    &.slick-prev {


      @media (max-width: $screen-md) {

      }
    }

    &.slick-next {


      @media (max-width: $screen-md) {

      }
    }
  }
}

.main-slider {
  height: 400px;
  overflow: hidden;
  margin-bottom: 40px;

  @media(max-width: $screen-sm){
    height: 276px;
    margin-bottom: 4px;
  }

  .slick-list {


    @media(max-width: $screen-md){

    }
  }

  .slick-slide {


    @media(max-width: $screen-md){

    }
  }

  &--index {
    margin-top: -47px;

    @media(max-width: $screen-md){
      margin-top: 0;
    }
  }
}

.slider-article {
  margin-bottom: 60px;

  @media(max-width: $screen-sm){

  }

  &__wrapper {
    overflow: hidden;
  }
  
  &__item {
    vertical-align: top;
    position: relative;
    padding-bottom: 20px;


    img {
      height: 324px;

      @media(max-width: $screen-sm){
        height: 172px;
      }
    }

    p {
      color: #4A4A4A;
      font-size: 14px;
    }
  }

  &__text {
    position: absolute;
    top: 100%;
    left: 0px;
    width: 100%;
    padding: 0px 20px;

    @media(max-width: $screen-sm){
      padding: 0;
    }
  }

  .slick-slide {
    padding-left: 10px;
    padding-right: 10px;
  }

  .slick-track {
    //margin-left: -10px;
    //margin-right: -10px;
  }

  .slick-list {
    overflow: visible;

  }
}
