.promo-tab {
  padding-bottom: 0px;

  .nav-tabs {
    list-style: none;
    padding: 0 !important;
    border-bottom: 2px solid #009b65;
    margin-bottom: 40px;
    font-size: 0;

    @media(max-width: $screen-md){
      white-space: nowrap;
      margin-left: -10px;
      margin-right: -10px;
      overflow: auto;
      margin-bottom: 30px;
    }
    @media(max-width: $screen-sm){
      margin-left: -15px;
      margin-right: -15px;
    }

    li {
      display: inline-block;
      vertical-align: top;
      float: none !important;
      margin-bottom: 0 !important;
      background: white;

      a {
        border: 4px solid transparent;
        margin: 0;
        text-align: center;
        font-size: 15px;
        text-decoration: none;
        border-radius: 0px;
        color: black;
        @include transition(all .2s ease-in-out);
        cursor: pointer !important;
        padding: 5px 20px 6px 20px;

        @media(max-width: $screen-md){

        }

        &:hover, &:focus {
          text-decoration: none;
          color: black;
          border-color: transparent;
        }

        &:hover {
          opacity: $opacity-main;
        }
      }

      &.active {
        a {
          background-color: #009b65;
          color: white;
          border: 4px solid #009b65;
          @media(max-width: $screen-md){

          }

          &:hover, &:focus {
            background-color: #009b65;
            color: white;
            border-width: 4px;
            border-color: #009b65;
            opacity: 1;
            @media(max-width: $screen-md){

            }
          }
        }
      }
    }
  }

  .tab-content {
    li {

    }
  }
}