
.head-h1 {
  font-size: 46px;
  margin-bottom: 17px;
  letter-spacing: -1px;

  @media(max-width: $screen-md){
    font-size: 29px;
    letter-spacing: 0px;
  }
  @media(max-width: $screen-sm){
    margin-bottom: 13px;
  }
}

.head-h2 {
  font-size: 31px;
  letter-spacing: 1px;
  margin-bottom: 20px;

  @media(max-width: $screen-md){
    font-size: 25px;
  }
  @media(max-width: $screen-sm){
    margin-bottom: 10px;
    font-size: 22px;
  }
  @media(max-width: $screen-xs){
  }
}

.head-h3 {
  font-size: 26px;
  font-weight: bold;
  line-height: normal;
  margin-bottom: 20px;

  @media(max-width: $screen-md){

  }
  @media(max-width: $screen-sm){
    margin-bottom: 10px;
  }
}

.head-h4 {
  font-size: 24px;
  line-height: normal;
  margin-bottom: 10px;

  @media(max-width: $screen-md){

  }
  @media(max-width: $screen-sm){

  }
}

.head-h5 {
  font-size: 18px;
  font-weight: bold;

  @media(max-width: $screen-md){
    font-size: 18px;
    margin-bottom: 10px;
  }
  @media(max-width: $screen-sm){
    font-size: 19px;
    line-height: 24px;
    margin-bottom: 10px;
  }
}

a {
  @include transition(all .2s ease-in-out);

  &:hover, &:focus {
    opacity: $opacity-main;
    text-decoration: none;
    outline: none;
  }
}


p {
  @media(max-width: $screen-sm){
    font-size: 16px;
  }
}

.color {
  &--promo {
    color: #0095d9;
  }

  &--bright {
    color: #2D7517;
  }
}

.text {

}
